@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@font-face {
    font-family: 'Casdadia Code';
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.neruxov.xyz/fonts/CascadiaCode.woff2) format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
